<!DOCTYPE html>
<html>
  <head>
    <title>Goal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "dream", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'dream', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="sidebar">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'My lists', lists_path %></li>
      </ul>
    <%= yield %>
  </body>
</html>
